<div class="products-list">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" v-for="product in productsList">
            <div class="product-sm">
                <router-link :to="'/product/' + product.id">
                    <span class="price float-right">PLN{{ product.pricePln }}</span>
                    <img :src="product.image" />
                    <h5 class="name">{{ product.name }}</h5>
                    <p>{{ truncateText(product.description,15) }}</p>
                </router-link>
            </div>
        </div>
    </div>
</div>