.products-list {
    >div>div {
        padding: 10px;
    }

    .product-sm {
        background: #FFFFFF;
        padding: 15px;
        // margin: 10px;
        -webkit-box-shadow: 9px 10px 9px -8px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 9px 10px 9px -8px rgba(0, 0, 0, 0.41);
        box-shadow: 9px 10px 9px -8px rgba(0, 0, 0, 0.41);
        border: 1px solid rgba(0, 0, 0, 0.09);

        a:hover {
            text-decoration: none;
        }



        .name {
            color: #707070;
            font-size: 16px;
        }

        p {
            font-size: 12px;
            color: #ABABAB;
        }

        img {
            width: 100%;
            padding: 20px 0;
        }
    }
}