<div class="main-layout">
    <top-navbar></top-navbar>
    <cart></cart>
    <router-view class="container main-content"></router-view>
    <div id="mask" v-show="mask" @click="toggleMask"></div>
</div>