<div v-if="product" class="product-card">
    <div class="row">
        <div class="col-sm-5">
            <div class="img-content">
                <img :src="product.imageBig" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="text-content">
                <div class="product-card-body">
                    <h5>{{ product.name }}</h5>
                    <p>{{ product.description }}</p>
                </div>
                <div class="product-card-footer">
                    <span class="price float-left">PLN{{ product.pricePln }}</span>
                    <button class="btn float-right"
                        @click="addProductToCart(new CartItem(product.id, product.name, product.pricePln))">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>