@import '~common/styles/variables.scss';

.product-card {
    &>div>div {
        img {

            width: 100%;
        }

        .text-content {
            background: white;
            padding: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }

        button.btn {
            background: #158FFF;
            text-transform: uppercase;
        }
    }
}