<div v-if="expanded" id="cart">
    <div class="d-flex justify-content-between">
        <span class="close" @click="toggleCart()"><i class="fa fa-times"></i></span><span>Your cart:</span>
    </div>
    <ul>
        <li v-for="cartItem in cartItems" class="d-flex justify-content-between align-items-end">
            <span>{{ cartItem.productName}}</span>
            <div class="d-flex flex-column"><span class="cart-amount">{{ cartItem.amount }}szt.</span><span class="price">PLN{{ cartItem.productPrice }}</span></div>
        </li>
    </ul>
</div>
