@import '~common/styles/variables.scss';

#cart {
    position: fixed;
    right: 0;
    width: 300px;
    height: 100vh;
    background: white;
    top: 0;
    z-index: 1;
    padding: 15px;

    ul {
        list-style: none;
        padding: 20px 0;
    }

    .cart-amount {
        font-size: 10px;
        opacity: 0.8;
        margin-bottom: -2px;
    }
}