@import '~common/styles/variables.scss';


.main-layout {
    background: #F9F9F9;
    color: #707070;
    font-family: Roboto;
    min-height: 100vh;

    .main-content {
        padding: 30px 15px;

        .price {
            color: $mainBlueColor;
            font-weight: 500;
            font-size: 16px;
        }

        .btn {
            border-radius: 0;
            padding: 5px 20px;
            background: $mainBlueColor;
            border-color: $mainBlueColor;
            color: white;
        }
    }

    #mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}