@import '~common/styles/variables.scss';
.navbar.bg-info {
    background-color: transparent !important;
    border-bottom: 1px solid #E5E5E5;
}

#cart-count {
    position: absolute;
    background: $mainBlueColor;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    padding: 3px 8px;
    right: -16px;
    top: 0px;

}