    <b-navbar toggleable="lg" type="light" variant="info">
        <div class="container">
            <b-navbar-brand href="#">Logo</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item href="#">Home</b-nav-item>
                    <b-nav-item href="#">About</b-nav-item>
                    <b-nav-item href="#">Contact</b-nav-item>
                    <li class="nav-item position-relative" style="max-width: 30px;" @click="toggleCart()">
                        <a class="nav-link fa fa-shopping-cart" style="font-size: 22px;"></a><span v-if="cartAmount > 0"
                            id="cart-count">{{ cartAmount }}</span>
                    </li>
                </b-navbar-nav>
            </b-collapse>
        </div>
    </b-navbar>